.container {
    flex: 1;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: column;
}

.contentsTitle a{
    font-family: EB Garamond;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 50px;
    justify-content: flex-start;
    color: #C1458C;
}

.contents {
   flex: 1;
   display: flex;
   flex-direction: column;
   margin-top: 5vh;
}

.contents a {
    background-color: rgb(255, 255, 255);
    border: 1px solid #00A5AA;
    flex-direction: column;
    border-radius: 5vh;
    height: 8vh;
    min-width: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;

    font-family: EB Garamond;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;

    color: #464449;
}