.primary {
    width: 50vh;
    height: 9vh;
    background: #00a5aa;
    border: 1px solid #00a5aa;
    border-radius: 50px;
    font-family: Bitter;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 43px;
    color: #fffbca;
    margin: 1vh;
  }

  .secondary {
    width: 50vh;
    height: 9vh;
    background: #FFFFF0;
    border: 1px solid #00A5AA;
    border-radius: 50px;
    font-family: Bitter;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 43px;
    color: #00A5AA;  
    margin: 1vh;
}