.container {
  display: flex;
  flex-direction: column;
}

.logo {
  width: 80vh;
}

.logoArea {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
}

.inputArea {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
}

.passwordText {
  flex: 1;
  display: flex;
  justify-content: center;
  padding-bottom: 2vh;
  font-family: Bitter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: #00A5AA;
}