.container {
  flex: 1 1;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  align-content: center;
  flex-direction: column;
  justify-content: center;
}

.lowerContainer {
  display: flex;
}

.inputArea {
  height: 100%;
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
  padding: 8vh 0 0 0;
}

.buttonArea {
  height: 100%;
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
  padding: 8vh 0 0 0;
}