.container {
    display: flex;
    flex-direction: column;
}

.profileArea {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.photoArea {
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
}

.photo {
    border:10.75vh solid #00A5AA;
    border-radius: 50%;
    
}

.userProfile {
    display: flex;
    flex-direction: column;
    font-family: Courier Prime;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    color: #696969;
    padding-top: 3vh;  
}

.userProfile a {
    margin: 3vh; 
}

.achievementArea {
    display: flex;
    flex-direction: column;  
    margin-top: 3vh;
    margin-bottom: 10vh;
    justify-content: flex-start;
    margin-top: 3vh;
    text-align: center;
    font-family: Courier Prime;
    font-size: 48px;
    color: #C1458C;
}
