.container {
  flex: 1;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  flex-direction: column;
  background-color: #fffffa;
  height: 100%;
  width: 100%;
}

.textArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2vh;
}

.welcomeText {
  font-family: EB Garamond;
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  line-height: 84px;
  text-align: center;
  color: #363636;
}

.name {
  color: #c1458c;
}

.primaryText {
  font-family: EB Garamond;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 47px;
  text-align: center;
  margin-bottom: 8vh;
  margin-top: 2vh;
  color: #696969;
  span {
    font-style: italic;
  }
}

.secondaryText {
  font-family: EB Garamond;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 47px;
  text-align: center;

  color: #696969;
}

.buttonArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.7vh;
}

.endText {
  font-family: EB Garamond;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 63px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #4f4f4f;
}
