.container {
    flex: 1;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: column;
}

.genderButtons {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.sendButton {
    width: 40vh;
    height: 9vh;
    background: #00a5aa;
    border: 1px solid #00a5aa;
    border-radius: 50px;
    font-family: Bitter;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 43px;
    color: #fffbca;
    margin: 5vh;
}