.header {
  display: flex;
  width: 100%;
  background-color:#FFFBCA;
}

.logo {
  width: 35vh;
}

.buttonsMenu {
  display: flex;
  align-items: center;
  margin-left: 143vh;
  width: 81vh;
  justify-content: space-evenly;
}

.selected {
  stroke: #00a5aa;
}
