.container {
    flex: 1;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: column;
    background-color: #fffffa;
    height: 100vh;
    width: 100%;
  }
  
  .textArea {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2vh;
  }
  
  .primaryText {
    font-family: EB Garamond;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 47px;
    text-align: center;
    margin-bottom: 8vh;
    margin-top: 2vh;
    color: #696969;
    span {
      font-style: italic;
    }
  }
  
  .secondaryText {
    font-family: EB Garamond;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 84px;
    text-align: center;
  
    color: #c1458c;
    margin-bottom: 5vh;
  
  }
  
  .buttonArea {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    margin-bottom: 1.7vh;
  }
  
  .comingSoonText {
    font-family: Bitter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
  
    text-align: center;
  
    color: #c1458c;
  }
  