.container {
  flex: 1;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  flex-direction: column;
}

.logo {
  width: 90vh;
}

.inputArea {
  height: 100%;
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
}


.text {
  padding-top: 2vh;
  font-size: 3rem;
  line-height: 20px;
  text-decoration-line: none;
  color: #c1458c;
  margin-bottom: 7vh;
}

.passwordText{
  font-family: Bitter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 2vh;
  color: #00A5AA;
}

