.container {
    flex: 1;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: column;
}

.buttonArea {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.photoArea {    
    display: flex;
    justify-content: center;
    margin: 5vh 0 0 5vh;
    display: flex;
    align-items: center;
}

.photo {   
    border:10.75vh solid #00A5AA;
    border-radius: 50%;
}

.uploadButton {
    display: flex;
    justify-content: center;
    margin-left: 2vh;
    cursor: pointer;
}
